/**
* common
*/
body {
    overflow-x: auto;
    overflow-y: scroll;
    min-width: 1000px;
    color: #585858;
}

body, input, label, select, option, textarea, button, fieldset, legend {
    font-size: 15px;
    font-family:  "Avenir Next", Avenir, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

a {
    text-decoration: none;
    color: #666666;
}

.wrapper {
    margin-top: 20px;
}

.content {
    width: 900px;
    margin: 0 auto;
}

.left-floated {
    float: left;
}

.right-floated {
    float: right;
}

.clear-fix {
    clear: both;
}

.button {
    background-color: #d04b4a;
    outline: none;
    color: #fff;
    font-size: 14px;
    border: none;
}

.title {
    font-weight: normal;
}

.normal-div {
    margin: 10px 0 0 0;
}

.normal-left {
    margin-left: 15px;
}

.normal-input {
    width: 100%;
    height: 35px;
    outline: none;
    border: 1px solid #eee;
    padding: 0 10px;
    line-height: 1.2em;
    color: #585858;
    margin-top: 5px;
}

.normal-input:focus {
    border: 1px solid #bd4545;
}

.normal-input-label {
    display: inline-block;
    margin-top: 10px;
}

.normal-textarea {
    width: 100%;
    outline: none;
    border: 1px solid #eee;
    padding: 10px 10px;
    line-height: 1.2em;
    color: #585858;
    margin-top: 5px;
    resize: none;
}

.normal-textarea:focus {
    border: 1px solid #bd4545;
}

.mid-panel {
    padding: 20px;
}

.mid-panel .title {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #c2c2c2;
}

.table-container {
    margin-top: 10px;
}

.table-container table {
    table-layout: fixed;
}

.table-container td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-container .button {
    background-color: #d04b4a;
    outline: none;
    color: #fff;
    font-size: 14px;
    border: none;
    padding: 4px 10px !important;
}


/**
* navbar
*/
.navbar {
    width: 100%;
    height: 30px;
    background-color: #f1f1f1;
    font-size: 13px;
    color: #666;
}

.navbar > .content {
    position: relative;
    top: 5px;
}

.navbar .left-items {
    position: relative;
}

.navbar .left-items > .selected {
    cursor: pointer;
}

.navbar .left-items > .select-panel {
    position: absolute;
    background-color: #f9f9f9;
    width: 175px;
    top: 25px;
    display: none;
}
.navbar .left-items > .select-panel > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar .left-items > .select-panel li {
    padding: 3px 10px;
    cursor: pointer;
}

.navbar .left-items > .select-panel li:hover {
    background-color: #d76863;
    color: #fff;
}

.navbar .right-items {
    margin: 0;
}

.navbar .right-items > li {
    display: inline-block;
}

.navbar .spacer {
    width: 1px;
    height: 13px;
    background-color: #ddd;
    position: relative;
    top: 1px;
    margin: 0 5px;
}

.navbar a:link,
.navbar a:visited,
.navbar a:active {
    color: #666;
}

.navbar .register {
    color: rgba(208, 75, 74, 1) !important;
}

.navbar .fa-shopping-cart {
    font-size: 15px;
    color: rgba(208, 75, 74, 1);
}



/**
* header
*/
.header {
    margin-top: 18px;
}

.header .search {
    display: inline-block;
    position: relative;
    bottom: 20px;
    left: 70px;
}

.header .search > .input {
    width: 370px;
    height: 35px;
    border: 2px solid rgba(208, 75, 74, 1);
    outline: none;
    font-size: 13px;
    padding-left: 10px;
    line-height: 1.4em;
}

.header .search > .btn-search {
    background-color: rgba(208, 75, 74, 1);
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 18px 7px 18px;
    position: relative;
    top: 2px;
    right: 4px;
}

.header .shopping-cart {
    float: right;
    position: relative;
    top: 9px;
}

.header .shopping-cart > .btn-cart,
.header .shopping-cart > .btn-order {
    background-color: #f5f5f5;
    border: 2px solid #ddd;
    outline: none;
    padding: 7px 13px 6px 13px;
    color: #8c8c8c;
    font-size: 14px;
}

.header .shopping-cart > .btn-cart:hover,
.header .shopping-cart > .btn-order:hover {
    color: #d04b4a;
}

.header .shopping-cart > .btn-cart {
    margin-right: -6px;
}

.dashboard-header {
    background-color: #d76863;
}

.dashboard-header .logo {
    margin: 15px 0;
}

.dashboard-header .shopping-cart {
    float: right;
    position: relative;
    top: 9px;
}

.dashboard-header .btn-cart {
    margin-top: 15px;
    background-color: #f5f5f5;
    border: 2px solid #ddd;
    outline: none;
    padding: 7px 13px 6px 13px;
    color: #8c8c8c;
    font-size: 14px;
}

.dashboard-left {
    float: left;
    width: 150px;
    padding: 10px;
    background-color: #fff;
}

.dashboard-left > #nav > li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    padding: 10px 0px;
    letter-spacing: 5px;
}

.dashboard-left > #nav > li > a:hover {
    text-decoration: none;
    color: #5e5e5e;
}

.dashboard-left > #nav > li > a {
    display: block;
}

.right-content {
    float: right;
    width: 670px;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 50px;
}

.right-content h3 {
    font-size: 1.17em !important;
    margin: 5px 0 15px 0 !important;
}

.btn-normal {
    padding: 5px 15px;
    margin-top: 10px;
}




/**
* product
*/
.product-panel {
    display: flex;
    flex-wrap: wrap;
    margin-right: -25px;
}

.product-card {
    width: 140px;
    height: 280px;
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 10px;
}

.product-card:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.product-card > .product-img {
     width: 140px;
     height: 140px;
     display: block;
     margin: 0 auto;
     border: 1px solid #eee;
 }

.product-card > .room-img {
    width: 90px;
    height: 90px;
    display: block;
    margin: 0 auto;
}

.product-card > .product-name {
    text-align: center;
    margin-top: 10px;
}

.product-card > .product-price {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #d04b4a;

}



/**
* footer
*/
.footer .content {
    border-top: 1px solid #ddd;
}

.footer-content {
    font-size: 14px;
    color: #9e9e9e;
    padding: 10px 0;
}

/**
* toaster
*/
.toaster {
    position: fixed;
    top: 15px;
    right: 30px;
    z-index: 9999;
    width: 265px;
}

.toast-item {
    width: 100%;
    margin-bottom: 20px;
    color: #fff;
    padding: 15px 15px;
    display: none;
    position: relative;
}

.toast-item .message {
    width: 230px;
}

.toast-item .close {
    position: absolute;
    right: 15px;
    bottom: 18px;
    cursor: pointer;
}

.toast-item.error {
    background-color: #d04b4a;
}

.toast-item.success {
    background-color: #468ec6;
}




/**
* login
*/

.login .header {
    width: 100%;
    height: 75px;
    background-color: #fff;
    margin-top: 0;
    padding-top: 20px;
}

.login > .header .title {
    font-size: 30px;
    position: relative;
    left: 20px;
    bottom: 10px;
    font-weight: lighter;
}

.login-panel {
    margin: 40px auto 0 auto;
    width: 300px;
    background-color: #fff;
}

.login-panel > .panel-content {
    padding: 15px 15px 5px 15px;
}

.login-panel .title {
    font-weight: normal;
    margin: 0;
    display: inline-block;
}

.login-panel .register {
    position: relative;
    top: 3px;
    color: #d04b4a;
}

.login-panel .login-form {
    margin-top: 10px;
    padding-top: 15px;
    border-top: 1px solid #eeeeee;
}

.login-panel input {
    width: 100%;
    margin-bottom: 15px;
    height: 35px;
    outline: none;
    border: 1px solid #eee;
    padding: 0 10px;
    line-height: 1.2em;
    color: #585858;
}

.login-panel input:focus {
    border-color: #939393;
}

.login-panel input[type=checkbox] {
    height: 18px;
    width: auto;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: pointer;
}

.login-panel .btn-login {
    padding: 5px 15px;
    display: inline-block;
}

.login-panel .forget-password {
    font-size: 13px;
    position: relative;
    top: 5px;
}



/**
* register
*/

.register .header {
    width: 100%;
    height: 75px;
    background-color: #fff;
    margin-top: 0;
    padding-top: 20px;
}

.register > .header .title {
    font-size: 30px;
    position: relative;
    left: 20px;
    bottom: 10px;
    font-weight: lighter;
}

.register-panel {
    margin: 40px auto 0 auto;
    width: 300px;
    background-color: #fff;
}

.register-panel > .panel-content {
    padding: 15px 15px 5px 15px;
}

.register-panel .title {
    font-weight: normal;
    margin: 0;
    display: inline-block;
}

.register-panel .login {
    position: relative;
    top: 3px;
    color: #d04b4a;
}

.register-panel .register-form {
    margin-top: 10px;
    padding-top: 15px;
    border-top: 1px solid #eeeeee;
}

.register-panel input {
    width: 100%;
    margin-bottom: 15px;
    height: 35px;
    outline: none;
    border: 1px solid #eee;
    padding: 0 10px;
    line-height: 1.2em;
    color: #585858;
}

.register-panel input:focus {
    border-color: #939393;
}

.register-panel .btn-register {
    padding: 5px 15px;
    display: inline-block;
}





/**
* supply-info
*/

.gender-input {
    margin-top: 5px;
}

.gender-input label {
    margin-right: 10px;
}

.gender-input span {
    margin-right: 10px;
    margin-left: 5px;
}

.supply-info-panel .btn-submit {
    padding: 5px 15px;
    margin-top: 10px;
}

/**
* validate
*/

.validate-panel .tips {
    font-size: 14px;
    color: #bd4545;
}

.validate-panel .btn-submit {
    padding: 5px 15px;
    margin-top: 10px;
}

.validate-panel .number {
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
    color: #6c6c6c;
}

.validate-panel .code-div {
    margin-bottom: 5px;
}





/**
* admin
*/

.admin-body {
    background-color: #e3e3e3;
}

.admin-navbar {
    height: 60px;
    background-color: #33678f;
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.3);
}

.admin-navbar .navbar-title {
    color: #fff;
    line-height: 60px;
    font-size: 20px;
    font-weight: lighter;
    float: left;
    cursor: pointer;
}

.admin-navbar .nav-items {
    float: left;
    margin: 0;
}

.admin-navbar .nav-item {
    color: #fff;
    line-height: 60px;
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
    transition: background-color 0.3s;
}

.admin-navbar .nav-item:hover {
    cursor: pointer;
    background-color: #285171;
}

.admin-navbar .nav-item.active {
    background-color: #285171;
}

.admin-navbar .right-items {
    float: right;
}

.admin-navbar .right-item {
    font-size: 1.5em;
    color: #d1d1d1;
    line-height: 60px;
    text-decoration: none;
    display: inline-block;
    margin-left: 15px;
    transition: color 0.4s;
}

.admin-navbar .right-item:hover {
    cursor: pointer;
    color: #fff;
}

.admin-panel {
    padding: 20px;
    margin: 25px auto 20px auto;
    background-color: #fff;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}

.admin-panel > .title {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #c2c2c2;
    font-size: 18px !important;
}

.admin-panel > .title > .button {
    line-height: 19px;
    position: relative;
    bottom: 4px;
}

.admin-body .normal-input:focus {
    border: 1px solid #3a75a3;
}

.admin-body .normal-textarea:focus {
    border: 1px solid #3a75a3;
}

.admin-body .button {
    padding: 5px 15px;
}

.admin-body .button-group {
    margin-top: 15px;
}

.admin-body .btn-submit {
    background-color: #3a75a3;
}

.admin-body .btn-cancel {
    background-color: #d76863;
}


/**
* admin-login
*/

.admin-login-panel {
    width: 300px;
    background-color: #fff;
    margin-top: 150px;
    box-shadow: 0 1px 6px #eee;
}

.admin-login-panel .panel-content {
    padding: 20px 20px;
}

.admin-login-panel .title {
    text-align: center;
    font-weight: normal;
    margin: 0 auto 15px auto;
    color: #666666;
}

.admin-login-panel input {
    width: 100%;
    margin-bottom: 15px;
    height: 30px;
    outline: none;
    border: 1px solid #eee;
    padding: 0 10px;
    line-height: 1.2em;
    color: #585858;
}

.admin-login-panel input:focus {
    border-color: #939393;
}

.admin-login-panel input[type=checkbox] {
    height: 18px;
    width: auto;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: pointer;
}

.admin-login-panel .btn-login {
    padding: 5px 10px;
    display: inline-block;
}

.admin-login-panel .login-form {
    margin-bottom: 0;
}



.edit-plan-table {
    width: 100%;
    margin-bottom: 5px;
}

.edit-plan-table th,
.edit-plan-table td {
    border: 1px solid #d6d6d6;
    padding: 3px 6px;
    text-align: center;
}

.edit-plan-table + .add-button {
    padding: 6px 8px;
}

.edit-plan-table .product-select {
    width: 100%;
}

.edit-plan-table input,
.edit-plan-table select {
    outline: none;
}

